<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <!--  <ion-menu-button menu="m1"></ion-menu-button> -->
  </ion-buttons>

  <ion-title style="display:inline-block">CHEAP TRIP. PAY LESS, VISIT MORE!</ion-title>
  <ion-img  class="logo" slot="end" src="../../../assets/logo.jpg" width="60px" style="display:inline-block" height="60px"></ion-img>
</ion-toolbar>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary" class="text-center">
        Discover the cheapest way to get anywhere combining
        plane,
        train, bus and rideshare</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-sm="6" offset-sm="3">
            <ion-item class="pointInpt">
              <ion-label position="floating" color="secondary"><b>From:</b></ion-label>
              <ion-input clearInput (ionChange)="onStartPointSearchChange($event)" [(ngModel)]="startPointCity.name">
              </ion-input>
              <!--   <ion-note slot="end" color="danger" (click)="onClearStartPoint()" role="button"><ion-icon name="remove-outline"></ion-icon></ion-note>
          -->
            </ion-item>
            <ion-item *ngIf="startPointCitiesAvailable">
              <ion-list style="width: 100%; max-height: 200px; overflow-y: scroll;">
                <ion-item *ngFor="let result of startPointCities" (click)="startPointCitySelected(result)" button>
                  <ion-label>{{result.name}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-item>
          </ion-col>
          <!--  <ion-col size-xs="2"  size-sm="1" offset-sm="3">
            <ion-item lines="none">
              <ion-icon name="remove-outline"></ion-icon>
            </ion-item>
          </ion-col> -->
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item class="pointInpt">
              <ion-label position="floating" color="secondary"><b>To:</b></ion-label>
              <ion-input clearInput (ionChange)="onEndPointSearchChange($event)" [(ngModel)]="endPointCity.name"></ion-input>
           <!--    <ion-icon slot="end" color="danger" (click)="onClearEndPoint()" role="button" name="remove-outline">
              </ion-icon> -->
            </ion-item>
            <ion-item *ngIf="endPointCitiesAvailable">
              <ion-list style="width: 100%; max-height: 200px; overflow-y: scroll;">
                <ion-item *ngFor="let result of endPointCities" (click)="endPointCitySelected(result)" button>
                  <ion-label>{{result.name}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" offset="3">
            <div class="text-center">
              <ion-button size="small" fill="solid" type="button" (click)="onClearAll()" color="secondary">Clear
              </ion-button>
              <ion-button size="small" fill="solid" type="button" color="primary" routerDirection="forward"
                routerLink="/places/tabs/discover/offer" (click)="searchPath()">Let's go</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <!--  <ion-toolbar>
      <ion-buttons class="ion-text-center">

        <ion-button size="small" fill="solid" type="button" (click)="onClearAll()" color="secondary">Clear </ion-button>
        <ion-button size="small" fill="solid" type="button" color="primary" routerDirection="forward"
          routerLink="/places/tabs/discover/offer" (click)="searchPath()">Let's go</ion-button>
      </ion-buttons>
    </ion-toolbar> -->
  </ion-card>
</ion-content>