<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-menu-button menu="m1"></ion-menu-button>
  </ion-buttons>
  <ion-buttons class="select" slot="end">
    <ion-item  class="select" lines="none">
      <!--   <ion-icon name="checkbox-outline" slot="start"></ion-icon>
   <ion-label>{{'SelectLanguage' | translate}}</ion-label> -->
      <ion-select value="en" class="select" interface="popover" (ionChange)="onSelectLang($event)">
        <ion-select-option value="en">Eng</ion-select-option>
        <ion-select-option value="ru">Ru</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-buttons>

  <ion-title class="hide-xs"> {{'DISCOVER.MainSlogan' | translate | uppercase}}</ion-title>
  <p class="title hide-sm">{{'DISCOVER.MainSlogan' | translate | uppercase}}</p>



</ion-toolbar>
<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-card-title color="secondary" class="text-center hide-xs">{{'DISCOVER.MainMessage' | translate}} </ion-card-title>
      <ion-card-subtitle color="secondary" class="text-center hide-sm">
        {{'MainMessage' | translate}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="input">
          <ion-col size="14" size-md="6">
            <ion-item class="pointInpt">
              <ion-label position="floating" color="secondary"><b>{{'DISCOVER.From' | translate}}</b></ion-label>
              <ion-input clearInput (ionChange)="onStartPointSearchChange($event)" [(ngModel)]="startPointCity.name">
              </ion-input>
            </ion-item>
            <ion-item class="autocomplete" *ngIf="startPointCitiesAvailable">
              <ion-list style="width: 100%; max-height: 200px; overflow-y: scroll;" lines="none">
                <ion-item *ngFor="let result of startPointCities" (click)="startPointCitySelected(result)" button>
                  <p>{{result.name}}</p>
                </ion-item>
              </ion-list>
            </ion-item>
          </ion-col>

          <ion-col class="hide-xs" size-md="2">
            <ion-img class="logo" src="../../../assets/logo.jpg"></ion-img>
          </ion-col>

          <ion-col size="14" size-md="6">
            <ion-item class="pointInpt">
              <ion-label position="floating" color="secondary"><b>{{'DISCOVER.To' | translate}}</b></ion-label>
              <ion-input clearInput (ionChange)="onEndPointSearchChange($event)" [(ngModel)]="endPointCity.name">
              </ion-input>
            </ion-item>
            <ion-item class="autocomplete" *ngIf="endPointCitiesAvailable">
              <ion-list style="width: 100%; max-height: 200px; overflow-y: scroll;">
                <ion-item *ngFor="let result of endPointCities" (click)="endPointCitySelected(result)" button>
                  <p>{{result.name}}</p>
                </ion-item>
              </ion-list>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="buttons" size-xs="12" offset-xs="0" offset="2" size-md="8" offset-md="2">
            <ion-button size="small" fill="solid" type="button" (click)="onClearAll()" color="secondary">{{'DISCOVER.Clear' | translate}}
            </ion-button>
            <ion-button size="small" fill="solid" type="button" color="primary" routerDirection="forward"
              routerLink="/places/tabs/discover/offer" (click)="searchPath()">{{'DISCOVER.Submit' | translate}}</ion-button>

            <!--  <div class="text-center">
              <ion-button size="small" fill="solid" type="button" (click)="onClearAll()" color="secondary">Clear
              </ion-button>
              <ion-button size="small" fill="solid" type="button" color="primary" routerDirection="forward"
                routerLink="/places/tabs/discover/offer" (click)="searchPath()">Let's go</ion-button>
            </div> -->
          </ion-col>
        </ion-row>
        <ion-row class="hide-sm">
          <ion-col size="6" offset="3">
            <ion-img class="logo" src="../../../assets/logo.jpg"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>
</ion-content>