p {
  display: flex;
}

mat-accordion {
  width: 100%;
}
mat-header {
  padding: 1px;
}
mat-panel-title {
  p {
    color: var(--ion-color-secondary);
    display: flex;
    flex-direction: column;
    span {
      display: block;
    }
  }
}
.mat-expansion-panel-header {
  height: auto !important;

  padding: 0;
}
mat-panel-description {
  flex-direction: column;
  width: 100%;
  p {
    display: flex;
    width: 100%;
    justify-content: space-between;
    span.time {
      color: #757575;
    }
  }
  ul.city {
   font-size: 0.8rem;
 
    width: 100%;
    color: #212121;
   font-weight: bold;
    font-style: italic;
    white-space: normal;
    line-height: 1.2;
    padding: 1px;
    li {

      display: inline;

      ion-icon {

        //padding: 8px 2px 0px;
        position: relative;
        top: 0.1rem;
        margin-left: 5px;
      }
    }
    li:last-child {
      ion-icon {
        display: none;
      }
    }
    //  overflow: hidden;
    //  text-overflow: ellipsis;
  }
}

/* .city span:after {
  content: " > ";
  display: inline;
}
.city span:last-child:after {
  content: none;
} */

ion-label {
  p {
    display: flex;
    justify-content: space-around;
    background-color: #ffccbc;
    padding: 1rem;
    color: #212121;
    font-weight: bold;
    padding: 0 1rem;
    // color: var(--ion-color-primary);
  }
}
