<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"CONTACT.contact" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item class="padding">
      <ion-avatar slot="start">

        <img src="../../assets/images/Roman.jpg">
      </ion-avatar>
      <ion-label>
       
        <h2 class="selectable">{{'CONTACT.ROMAN.name' | translate}} {{'CONTACT.ROMAN.familyName' | translate}}</h2>
        <h3 class="selectable"> {{'CONTACT.ROMAN.position' | translate}}</h3>
        <ion-button class="selectable expand" (click)="onCallRoman()">+972-54-5779239</ion-button>
        <p class="selectable" (click)="sendMailTo('roman.mantelmakher@gmail.com')">roman.mantelmakher@gmail.com</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>