<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
<ion-title>{{"CONTACTS.contact" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>


    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/images/Roman.jpg">
      </ion-avatar>
      <ion-label>
        <h2>{{'CONTACT.ROMAN.name' | translate}} {{'CONTACT.ROMAN.familyName' | translate}}</h2>
        <h3>  {{'CONTACT.ROMAN.position' | translate}}</h3>
        <p>+972-54-5779239</p>
        <p>roman.mantelmakher@gmail.com</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>