<ion-app>



  <ion-split-pane contentId="main-content" when="(min-width: 2000px)">

    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title><i>CheapTrip</i></ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-list id="inbox-list">
          <ion-menu-toggle>
            <ion-item (click)="toContactPage()" lines="none" detail="false" routerLink="/">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>{{'HOME.home' | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list id="labels-list">
          <ion-menu-toggle>
            <ion-item lines="none" routerLink="/contact" button>
              <ion-icon name="call" slot="start"></ion-icon>
              <ion-label>{{'CONTACT.contact' | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>


</ion-app>