<ion-toolbar translucent>
  <ion-buttons class="select" slot="start">
    <ion-item class="select" lines="none">
      <!--   <ion-icon name="checkbox-outline" slot="start"></ion-icon>
       <ion-label>{{'SelectLanguage' | translate}}</ion-label>  -->

      <ion-select [value]="placesSrv.currentCurrency" class="select" interface="popover" (ionChange)="onSelectCurrency($event)">
        <ion-select-option *ngFor="let cur of currencyArr" [value]="cur">{{cur}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-buttons>

  <a *ngIf="isHidden" role="button" [routerLink]="['/']"> {{'OFFER.NewSearch' | translate}}</a>

  <ion-buttons class="select" slot="end">
    <ion-item class="select" lines="none">
      <!-- <ion-icon name="checkbox-outline" slot="start"></ion-icon>
     <ion-label>{{'SelectLanguage' | translate}}</ion-label>  -->
      <ion-select [value]="language" class="select" interface="popover" (ionChange)="onSelectLang($event)">
        <ion-select-option value="en">En</ion-select-option>
        <ion-select-option value="ru">Ru</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-buttons>

</ion-toolbar>