a {
   display: block;
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-style: italic;
    width: 10rem;
    text-align: center;
    background-color: var(--ion-color-secondary);
    color: white;
 //   padding: 0.5rem 2rem;
    margin: auto;
}
ion-toolbar{
   
}