p {
  display: flex;
}
span.spacer {
  flex: 1 1 auto;
}

.icon {
  color: var(--ion-color-secondary);
}

.item-avatar {
  width: 100% !important;
  height: 100% !important;
  max-width: 40px !important; //any size
  max-height: 40px !important; //any size
}
ion-label {
  p {
    color: var(--ion-color-secondary);
    span.currency {
      color: var(--ion-color-primary);
      display: inline-block;
     
    }
  }
  p.rout {
    font-weight: bold;
    color: #212121;
    justify-content: space-between;
    span{
      width:40%;
    }
    span:last-child{
     text-align: right;
     justify-self: end;

    }
    ion-icon{
      justify-self: center;
    }
  }
}
:host{
  width:100%;
}
ion-list{
  width:100%;
  background-color: rgba(128, 128, 128, 0.3);
  margin:0;

}




  ion-item{

   --inner-padding-end: 0px;
    --padding-start:0px

  
    ion-label{
      width:100%;
       background-color: gray;
    }
  }
  

